extends layout

block head
  script(src = '/socket.io/socket.io.js')
  script(src = 'js/jquery.js')
  //script(src = 'js/chat.js')

block content
  head
    h1 IOgram
    h2 a realtime chat based on Socket.io
  main
    section#messages
    form(action = "")
      input#message(autocomplete = "off", placeholder = "Say something...")
      button Send
